@model Dictionary<string, string>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    td{
        text-align: left;
        border: 1px solid silver;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table>
        @foreach (var key in Model!.OrderBy(p => p.Key))
        {
            <tr>
                <td>@key.Key</td>
                <td>@key.Value</td>
            </tr>
        }
    </table>
</div>