@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    td{
        text-align: left;
        border: 1px solid silver;
    }
</style>
<div class="text-center">
    <table>
        @foreach (var key in Model.Interfaces)
        {
            <tr>
                <td>@key.Name</td>
                <td><pre>@Html.Raw(key.Addresses)</pre></td>
            </tr>
        }
    </table>
    <br/>
    <table>
        @foreach (var key in Model.Env.OrderBy(p => p.Key))
        {
            <tr>
                <td>@key.Key</td>
                <td>@key.Value</td>
            </tr>
        }
    </table>
</div>